# Custom .gitignore for Python projects
.custom_group_settings
/csv_input*
project_export.txt
export_project.sh
install_updates.sh


# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv/
venv/

# Poetry lock file if you don't want to commit
# (usually you DO want to commit poetry.lock)
# poetry.lock

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE / editor folders
.vscode/
.idea/